body {
    overflow-x: hidden;
}

#wrapper {
    min-height: 100vh;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #2c3e50 !important; /* Un azul muy oscuro para contraste */
    transition: all 0.3s ease-in-out;
}

/* Estilos de los botones del menú */
.list-group-item {
    border: none;
    padding: 15px 20px;
    transition: all 0.3s;
}

.list-group-item:hover {
    background-color: #34495e !important;
    color: #3498db !important;
    padding-left: 25px; /* Animación de empuje hacia la derecha */
}

/* Íconos del menú */
.list-group-item i {
    color: #95a5a6;
    width: 25px;
    text-align: center;
}

.list-group-item:hover i {
    color: #3498db;
}