USE [master]
GO
/****** Object:  Database [Automotors]    Script Date: 9/6/2026 12:04:53 ******/
CREATE DATABASE [Automotors]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Automotors', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Automotors.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Automotors_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Automotors_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Automotors].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Automotors]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularEdad]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[fn_CalcularEdad](@fecha DATE)
RETURNS INT
AS
BEGIN
    RETURN DATEDIFF(YEAR,@fecha,GETDATE()) -
    CASE WHEN DATEFROMPARTS(YEAR(GETDATE()),MONTH(@fecha),DAY(@fecha)) > GETDATE() THEN 1 ELSE 0 END;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CantidadVehiculosPorMarca]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_CantidadVehiculosPorMarca](@id_marca INT)
RETURNS INT
AS
BEGIN
    DECLARE @c INT;
    SELECT @c = COUNT(*) FROM Vehiculo WHERE id_marca = @id_marca;
    RETURN ISNULL(@c,0);
END;
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[id_medio_pago] [int] NOT NULL,
	[total] [decimal](14, 2) NOT NULL,
	[entrega_inicial] [decimal](14, 2) NOT NULL,
	[monto_financiado] [decimal](14, 2) NOT NULL,
	[cuotas] [int] NOT NULL,
	[valor_cuota] [decimal](14, 2) NOT NULL,
	[tasa_interes] [decimal](5, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_vehiculo] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unit] [decimal](12, 2) NOT NULL,
	[subtotal]  AS ([cantidad]*[precio_unit]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_VentasConTotalCalc]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[vw_VentasConTotalCalc] AS
SELECT v.*,
       (SELECT SUM(subtotal) FROM DetalleVenta dv WHERE dv.id_venta = v.id_venta) AS total_calc
FROM Venta v;
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[dni] [varchar](15) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[telefono] [varchar](30) NULL,
	[email] [varchar](100) NULL,
	[direccion] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleServicio]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleServicio](
	[id_detalle_servicio] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_servicio] [int] NOT NULL,
	[precio] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesVehiculo]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesVehiculo](
	[id_vehiculo] [int] NOT NULL,
	[motor] [varchar](100) NULL,
	[tipo_combustible] [varchar](50) NULL,
	[potencia_cv] [varchar](50) NULL,
	[torque_nm] [varchar](50) NULL,
	[cilindrada_cm3] [varchar](50) NULL,
	[tipo_transmision] [varchar](50) NULL,
	[marchas] [varchar](20) NULL,
	[traccion] [varchar](50) NULL,
	[seguridad] [varchar](500) NULL,
	[confort] [varchar](500) NULL,
	[exterior] [varchar](500) NULL,
	[consumo_urbano] [decimal](5, 2) NULL,
	[consumo_extraurbano] [decimal](5, 2) NULL,
	[consumo_mixto] [decimal](5, 2) NULL,
	[largo_mm] [int] NULL,
	[ancho_mm] [int] NULL,
	[alto_mm] [int] NULL,
	[capacidad_baul_l] [int] NULL,
	[capacidad_tanque_l] [int] NULL,
	[descripcion_estado] [varchar](500) NULL,
	[evaluacion_mecanica] [varchar](500) NULL,
	[service_oficial] [bit] NULL,
	[registro_services] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedioPago]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedioPago](
	[id_medio_pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medio_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanCuotas]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanCuotas](
	[id_plan_cuota] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[numero_cuota] [int] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[capital] [decimal](12, 2) NOT NULL,
	[interes] [decimal](12, 2) NOT NULL,
	[total_cuota] [decimal](12, 2) NOT NULL,
	[saldo] [decimal](14, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_pago] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plan_cuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[precio] [decimal](12, 2) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [varchar](15) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[password_hash] [varbinary](256) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[id_rol] [int] NOT NULL,
	[is_activo] [bit] NOT NULL,
	[creado_en] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[id_vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[id_marca] [int] NOT NULL,
	[modelo] [varchar](80) NOT NULL,
	[anio] [int] NOT NULL,
	[vin] [varchar](40) NOT NULL,
	[patente] [varchar](10) NULL,
	[precio] [decimal](12, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[kilometraje] [int] NOT NULL,
	[version] [varchar](80) NULL,
	[color] [varchar](50) NULL,
	[condicion] [varchar](50) NULL,
	[tipo_vehiculo] [varchar](50) NULL,
	[descripcion] [varchar](500) NULL,
	[stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[vin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DV_Venta]    Script Date: 9/6/2026 12:04:54 ******/
CREATE NONCLUSTERED INDEX [IX_DV_Venta] ON [dbo].[DetalleVenta]
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehiculos_Estado]    Script Date: 9/6/2026 12:04:54 ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_Estado] ON [dbo].[Vehiculo]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehiculos_MarcaModeloAnio]    Script Date: 9/6/2026 12:04:54 ******/
CREATE NONCLUSTERED INDEX [IX_Vehiculos_MarcaModeloAnio] ON [dbo].[Vehiculo]
(
	[id_marca] ASC,
	[modelo] ASC,
	[anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ventas_Fecha]    Script Date: 9/6/2026 12:04:54 ******/
CREATE NONCLUSTERED INDEX [IX_Ventas_Fecha] ON [dbo].[Venta]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetallesVehiculo] ADD  DEFAULT ((0)) FOR [service_oficial]
GO
ALTER TABLE [dbo].[PlanCuotas] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [is_activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (sysdatetime()) FOR [creado_en]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((0)) FOR [kilometraje]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((1)) FOR [stock]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [entrega_inicial]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [monto_financiado]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [cuotas]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [valor_cuota]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [tasa_interes]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ('Activa') FOR [estado]
GO
ALTER TABLE [dbo].[DetalleServicio]  WITH CHECK ADD  CONSTRAINT [FK_DS_Servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicio] ([id_servicio])
GO
ALTER TABLE [dbo].[DetalleServicio] CHECK CONSTRAINT [FK_DS_Servicio]
GO
ALTER TABLE [dbo].[DetalleServicio]  WITH CHECK ADD  CONSTRAINT [FK_DS_Venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Venta] ([id_venta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleServicio] CHECK CONSTRAINT [FK_DS_Venta]
GO
ALTER TABLE [dbo].[DetallesVehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Vehiculo] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculo] ([id_vehiculo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallesVehiculo] CHECK CONSTRAINT [FK_Detalles_Vehiculo]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DV_Vehiculo] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[Vehiculo] ([id_vehiculo])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DV_Vehiculo]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DV_Venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Venta] ([id_venta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DV_Venta]
GO
ALTER TABLE [dbo].[PlanCuotas]  WITH CHECK ADD  CONSTRAINT [FK_PlanCuotas_Venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[Venta] ([id_venta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlanCuotas] CHECK CONSTRAINT [FK_PlanCuotas_Venta]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[Marca] ([id_marca])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Marca]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_MedioPago] FOREIGN KEY([id_medio_pago])
REFERENCES [dbo].[MedioPago] ([id_medio_pago])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_MedioPago]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Usuario]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_DNI] CHECK  ((NOT [dni] like '%[^0-9]%' AND (len([dni])>=(7) AND len([dni])<=(9))))
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_DNI]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD CHECK  (([cantidad]=(1)))
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD CHECK  (([precio_unit]>(0)))
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD CHECK  (([precio]>=(0)))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_DNI] CHECK  ((NOT [dni] like '%[^0-9]%' AND (len([dni])>=(7) AND len([dni])<=(9))))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_DNI]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Km] CHECK  (([kilometraje]>=(0)))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_Km]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Patente_Formato] CHECK  (([patente] IS NULL OR [patente] like '[A-Z][A-Z][A-Z][0-9][0-9][0-9]' OR [patente] like '[A-Z][A-Z][0-9][0-9][0-9][A-Z][A-Z]'))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_Patente_Formato]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Precio_Pos] CHECK  (([precio]>(0)))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_Precio_Pos]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Vehiculo_Anio] CHECK  (([anio]>=(1900) AND [anio]<=(datepart(year,getdate())+(1))))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_Vehiculo_Anio]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_Vehiculo_Estado] CHECK  (([estado]='baja' OR [estado]='vendido' OR [estado]='reservado' OR [estado]='disponible'))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_Vehiculo_Estado]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [CK_VIN_Longitud] CHECK  ((len([vin])=(17)))
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [CK_VIN_Longitud]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD CHECK  (([total]>=(0)))
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [CK_Venta_Estado] CHECK  (([estado]='Cancelada' OR [estado]='Activa'))
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [CK_Venta_Estado]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCliente]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarCliente]
    @id_cliente INT,
    @dni VARCHAR(15),
    @nombre VARCHAR(50),
    @apellido VARCHAR(50),
    @telefono VARCHAR(30) = NULL,
    @email VARCHAR(100) = NULL,
    @direccion VARCHAR(150) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Cliente
    SET
        dni = @dni,
        nombre = @nombre,
        apellido = @apellido,
        telefono = @telefono,
        email = @email,
        direccion = @direccion
    WHERE id_cliente = @id_cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_InsertarCliente]
 @dni VARCHAR(15), @nombre VARCHAR(50), @apellido VARCHAR(50),
 @telefono VARCHAR(30)=NULL,@email VARCHAR(100)=NULL,@direccion VARCHAR(150)=NULL
AS
BEGIN
    INSERT INTO Cliente(dni,nombre,apellido,telefono,email,direccion)
    VALUES(@dni,@nombre,@apellido,@telefono,@email,@direccion);
    SELECT SCOPE_IDENTITY() AS id_insertado;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerClientes]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerClientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id_cliente,
        dni,
        nombre,
        apellido,
        telefono,
        email,
        direccion
    FROM Cliente
    ORDER BY apellido, nombre;
END;
GO
/****** Object:  Trigger [dbo].[trg_DV_AIU_VentasTotal]    Script Date: 9/6/2026 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[trg_DV_AIU_VentasTotal]
ON [dbo].[DetalleVenta]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT id_venta INTO #Afectadas FROM inserted
    UNION SELECT id_venta FROM deleted;

    UPDATE v SET v.total = ISNULL(x.suma,0)
    FROM Venta v
    JOIN (
        SELECT id_venta, SUM(subtotal) AS suma
        FROM DetalleVenta
        WHERE id_venta IN (SELECT id_venta FROM #Afectadas)
        GROUP BY id_venta
    ) x ON x.id_venta = v.id_venta;

    UPDATE v SET v.total = 0
    FROM Venta v
    WHERE v.id_venta IN (SELECT id_venta FROM #Afectadas)
      AND NOT EXISTS (SELECT 1 FROM DetalleVenta dv WHERE dv.id_venta = v.id_venta);

    DROP TABLE #Afectadas;
END;
GO
ALTER TABLE [dbo].[DetalleVenta] ENABLE TRIGGER [trg_DV_AIU_VentasTotal]
GO
/****** Object:  Trigger [dbo].[trg_DV_RevertirVenta]    Script Date: 9/6/2026 12:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[trg_DV_RevertirVenta]
ON [dbo].[DetalleVenta]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Vehiculo
    SET estado = 'disponible'
    WHERE id_vehiculo IN (SELECT id_vehiculo FROM deleted)
      AND estado = 'vendido';
END;
GO
ALTER TABLE [dbo].[DetalleVenta] ENABLE TRIGGER [trg_DV_RevertirVenta]
GO
/****** Object:  Trigger [dbo].[trg_DV_ValidarVehiculoAntesVenta]    Script Date: 9/6/2026 12:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[trg_DV_ValidarVehiculoAntesVenta]
ON [dbo].[DetalleVenta]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- validar estados
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Vehiculo v ON v.id_vehiculo = i.id_vehiculo
        WHERE v.estado IN ('vendido','baja')
    )
    BEGIN
        RAISERROR('No se puede vender un vehículo vendido o dado de baja.',16,1);
        RETURN;
    END

    -- insertar normalmente
    INSERT INTO DetalleVenta(id_venta,id_vehiculo,cantidad,precio_unit)
    SELECT id_venta,id_vehiculo,cantidad,precio_unit FROM inserted;

    -- cambiar a vendido
    UPDATE Vehiculo
    SET estado = 'vendido'
    WHERE id_vehiculo IN (SELECT id_vehiculo FROM inserted);
END;
GO
ALTER TABLE [dbo].[DetalleVenta] ENABLE TRIGGER [trg_DV_ValidarVehiculoAntesVenta]
GO
USE [master]
GO
